* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
html {
    height: 100%;
    background-image: url('/src/images/backgroundPicture7.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
