.footer{
    background-color: #d4d5d3;
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
    background-color: black;
    
    
}
.footer-title{
    color: rgb(78, 78, 66);
    margin-top: 40px;
    font-size: small;
    font-family: 'Roboto', arial, sans-serif;
    
}