.footer{
    background-color: #f6ddcc;
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
    background-color: #b0bec5;
    
}
.footer-title{
    color: beige;
    margin-top: 40px;
    
}