.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f6ddcc;
    &__logo{
        width: 50px;
        border-radius: 10px;
        background-color: #f6ddcc;
        cursor: pointer;
    }
 
}
.flags{
    padding: 5px;
    justify-content: space-between;
}
.Spain{
    width: 40px;
    height: 30px;
}
.England{
    width: 40px;
    height: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 300px;
    
    
}
.list-items{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: x-large;
    color: grey;
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
    transition: transform 0.2s ease-in-out;
}
.list-elements:hover{
    transform: scale(1.2);
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
    color: white;
    transition: transform 0.1s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}