.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f6ddcc;
    &__logo{
        width: 50px;
        border-radius: 10px;
        background-color: #f6ddcc;
        cursor: pointer;
    }
 
}
.flags{
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 250px;
}
.symbol{
    width: 20px;
    height: 25px;
    cursor: pointer;
    border: 5px;
    color: grey;
}
.symbol:hover{
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}
.lang-list {
    display: block;
    position: static;
    z-index: 1;
    font-size: large;
    font-family: 'Roboto', arial, sans-serif;
    color: grey; 
    top: 100%; 
    left: 0;
    cursor: pointer;     
}
.lang-list:hover{
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
}
.language{
    font-size: large;
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    margin-left: 700px;
    cursor: pointer;
}
.language:hover{
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out;
    
}

.England{
    width: 40px;
    height: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    
    
    
    
    
}
.list-items{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: medium;
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    transform: scale(1.1); /* Aumenta el tamaño un 10% */
    transition: transform 0.2s ease-in-out;
}
.list-elements:hover{
    transform: scale(1.2);
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
    color: white;
    transition: transform 0.1s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}