.nav-bar {
    display: none; 
    position: absolute;
    top: 50px;
    margin-top: 80px;
    background-color: #4f29f5;
    width: 200px;
    border-radius: 5px;
  }
  
  .nav-bar.open {
    display: block; 
  }
  
  .nav-bar ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-bar li {
    margin: 10px 0;
  }
  
  .nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
  }
  
  .nav-bar a:hover {
    background-color: #444;
  }