.container{
    display: grid;
    width: 90%;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    
    
    
}

.container-image{
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 10px grey;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
    
}
.container-image:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.project-title{
    display: flex;
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 100px;
    font-family: "Open Sans", serif;
    
}
.project-title-box{
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    font-family: "Open Sans", serif;
}

.second-row {
    grid-column: 1 / 4; /* Hace que los elementos de la segunda fila ocupen todas las columnas */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px;
    
  }

  @media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .second-row{
        display: flex;
        flex-direction: column;
    }
  }


