.container{
    display: grid;
    width: 90%;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    
    
}

.container-image{
    width: 400px;
    height: 200px;
    
    
}
.project-title{
    display: flex;
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 100px;
    
}
.project-title-box{
    font-family: 'Roboto', arial, sans-serif;
    color: grey;
    
}

.second-row {
    grid-column: 1 / 4; /* Hace que los elementos de la segunda fila ocupen todas las columnas */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px;
    
  }


